<ng-container *ngIf="transactions$ | async as transactions">
    <mat-list role="list" *ngIf="transactions.length; else noTransaction">
        <mat-list-item *ngFor="let transaction of transactions" role="listitem">
            <div mat-line>{{transaction.description}} - {{transaction.amount | currency}}</div>
            <div mat-line>Payé par {{transaction.paidBy}} le {{transaction.date | date}}</div>
            <button mat-icon-button aria-label="Ouvrir les actions" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Modifier</button>
                <button mat-menu-item (click)="confirmDeletion(transaction)">Supprimer</button>
            </mat-menu>
        </mat-list-item>
    </mat-list>

    <ng-template #noTransaction>
        <p>Il n'y a pas encore de transaction.</p>
    </ng-template>
</ng-container>

<div class="d-flex justify-content-end fixed-bottom m-3 m-md-4 m-lg-5">
    <a routerLink="new" mat-fab color="primary" aria-label="Ajouter une transaction">
        <mat-icon>add</mat-icon>
    </a>
</div>